# IDE
.idea
.run

# Build dirs
/experiments/pyinstaller/geodepot.spec
/experiments/pyinstaller/build/
/experiments/pyinstaller/dist/
/experiments/pyinstaller/cli.build/
/experiments/pyinstaller/cli.dist/


/experiments/vcpkg/build/
/experiments/vcpkg/vcpkg/
/experiments/vcpkg/.idea
/experiments/vcpkg/.run
