# IDE
.idea
.run

# Build dirs
/src/geodepot.egg-info/

/experiments/pyinstaller/geodepot.spec
/experiments/pyinstaller/build/
/experiments/pyinstaller/dist/
/experiments/pyinstaller/cli.build/
/experiments/pyinstaller/cli.dist/


/experiments/vcpkg/build/
/experiments/vcpkg/vcpkg/
/experiments/vcpkg/.idea
/experiments/vcpkg/.run

# Data
#/tests/data/proj.db
